body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #275950;
    height: 100vh;
    gap: 5rem;
    flex-wrap: wrap;
}

img {
    width: 400px; 
}

#div-login {
    display: flex;
    background-color: #2A8C82;
    width: 400px;
    border: 2px solid #2A8C82;
    border-radius: 25px;
    justify-content: center;
    height: 300px;
}

h1 {
    color: #9BF2EA;
}
h3 {
    
    color : #92e3a9;
    text-align: center;
    font-family:"Dynapuff";
    font-size: 40px;
    
}  
#alinhamento {
    margin:0;
    
}

#cor-login {
    color: aliceblue;
    font-size: 20px;
}

.teste1 {

    margin-top: 20%;
    
}
.div-name {

    margin-bottom: 20px;
    
}

#botao {
    color:aliceblue;
    font-size: 20px ;
    margin-top: 30px;
    margin-left: 35%;
    background-color: #275950;
    border: 1px;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#botao:hover {
    cursor: pointer;
    background-color: #193d37;
    
}
#link {
    text-decoration:none
    
    
}
#link:hover {
    color: aliceblue;
}
#link:visited {
    color: aliceblue;
}
@media only screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #275950;
        height: 100vh;
        gap: 1rem;
        flex-wrap: wrap;
    }

    img {
        width: 200px;
        margin-left: 25%;
        margin-top: 20%;
    }
    
    #div-login {
        display: flex;
        background-color: #2A8C82;
        width: 400px;
        border: 2px solid #2A8C82;
        border-radius: 25px;
        justify-content: center;
        height: 300px;
        margin-bottom: 40%;
    }
    h1 {
        color:#275950;
    }
    h3 {
    
        color :#92e3a9;
        text-align: center;
        font-family:"Dynapuff";
        font-size: 40px;
        
    } 
  }
  @media only screen and (max-width: 996px) {
    img {
        width: 300px;
        margin-left: 90px;

    }
    body {
        gap: 5em;
    }

    #div-login {
        display: flex;
        background-color: #2A8C82;
        width: 400px;
        border: 2px solid #2A8C82;
        border-radius: 25px;
        justify-content: center;
        height: 300px;
        margin-bottom: 40%;
    }
  }
